body {
  font-family: sans-serif;
  background: #f9f9f9;
  overflow:hidden;
}


section {
  height: 100vh;
  padding-top : 7rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

